:root {
    --verde_mais_escuro: #04473A;
    --verde_escuro: #0B8E74;
    --verde: #3BA790;
    --verde_claro: #84C382;
    --verde_pastel: #C8E5D7;
    --amarelo: #DBC86C;
    --vermelho: #B97788;
    --cinza: #787878;

    --inter: font-family: 'Inter', sans-serif;
}

:root {
    scroll-behavior: smooth;
  }


/* Estilos gerais para o corpo da página */
body {
    margin: 0;
    padding: 0;
    color: var(--verde_escuro); /* Cor do texto */
    font-family: Inter; /* Família de fontes */
    font-size: 20px; /* Tamanho da fonte */
    font-style: normal; /* Estilo da fonte */
    font-weight: 700; /* Peso da fonte */
    line-height: normal; /* Altura da linha da fonte */
}

/* Header com as informações do cliente*/
.head {
    background: var(--verde_pastel); /* cor de fundo*/
    border-radius: 0px 0px 20px 20px; /* Borda arredondada apenas embaixo*/
    padding: 40 24 22 24;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.head p {
    margin: 0;
    font-weight: 600;
    text-align: center;
}

/* Sub seção nome/foto */
.nome__foto img {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50px; /* para deixar a imagem arredondada*/
}

.nome__foto p {
    color: var(--verde_mais_escuro);
    padding-top: 10px;
}

/* Subseção nível/ganhos*/
.nivel__ganhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.nivel {
    font-size: 18px;
    padding: 0 0 18 0;
}

.nivel__ganhos img {
    width: 170px;
    height: fit-content;
}
.nivel__mensagem {
    font-size: 14px;
    padding: 12 0 0 0;
}

.ganho {
    font-size: 20px;
    color: var(--verde_mais_escuro);
    padding: 18 0 0 0;
}


/* Cards das missões*/
.card__missao {
    display: flex;
    justify-content: space-between;
    background-color: var(--verde_claro);
    border-radius: 10px;
    color: white;
    padding: 18px;
    margin: 0 26 30 26;
}

.card__missao p {
    margin: 0;
    font-weight: 600;
}

/* Subseção nome/icone */
.nome__icone {
    text-align: center;
}

.nome__missao {
    font-size: 18px;
    padding-bottom: 10px;
}
/* fim da subseção nome/icone */

/* Subseção detalhes*/
.detalhes {
    width: 160px;
    text-align: right;
}

.descriçao {
    font-size: 12px;
    color: var(--verde_mais_escuro);
    padding: 10 0 10 0;
}

.duraçao {
    font-size: 12px;
}
/* fim da subseção detalhes*/

/* Subseção premio*/
.premio {
    display:inline-flex;

}

.valor__premio {
    font-size: 20px;
}

.premio img {
    height: 20px;
    width: fit-content;
    padding-left: 12px;
}
/* fim da subseção premio*/

/* Navbar */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: var(--verde_escuro);
    padding: 20 0;
    justify-content: space-between;
    align-items: center;
}

.icone__casa {
    height: 22px;
    width: fit-content;
    padding-left: 20px;
}

.icone__mapa {
    height: 24px;
    width: fit-content;
}

.icone__logo {
    height: 24px;
    width: fit-content;
}

.icone__carteira {
    height: 18px;
    width: fit-content;
}
.icone__pessoa {
    height: 22px;
    width: fit-content;
    padding-right: 20;
}