.navbar {
    display: flex;
    background-color: var(--verde_escuro);
    padding: 20px 0px 20px 0px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.icone__casa {
    height: 22px;
    width: 22px;
    padding-left: 20px;
}

.icone__mapa {
    height: 24px;
    width: fit-content;
}

.icone__logo {
    height: 24px;
    width: fit-content;
}

.icone__carteira {
    height: 18px;
    width: fit-content;
}

.icone__pessoa {
    height: 22px;
    width: fit-content;
    padding-right: 20;
}

@media (min-width: 600px){
    /* .navbar{
        display: none;
    } */
}