.topnav {
    display: flex;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    overflow: hidden;
    background: var(--verde);
    z-index: 1000;
    justify-content: center;
    width: 100%;
}
  
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}
  
.topnav .active {
    background-color: #04473A;
}
  

#right_side {
    float: right;
}

@media screen and (max-width: 600px) {
/* NAVBAR */
.topnav {
    display: none;
}
}