.container {
    display: flex;
}

.side__menu {
    position: fixed;
    background-color: var(--verde_pastel);
    width: 190px;
    height: 100%;
    padding-top: 20px;
    text-align: center;
}

.side__menu button {
    position: fixed;
    bottom: 20;
    left: 30;
    width: 130px;
    height: 38px;
    border-radius: 6px;
    color: black;
    background-color: var(--verde_claro);
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.side__menu button:hover {
    background-color: var(--verde);
}
#cards__missao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-left: 190px;
    gap: 20px;
}

#cards__missao ul {
    background-color: var(--verde_claro);
    border-radius: 20px;
    padding: 16px;
    width: 300px;
    height: 150px;
}
#cards__missao ul li {
    list-style: none;
    color: black;
    margin-bottom: 10px;
}
#cards__missao ul li:first-child {
    font-size: 18px;
}