#login{
    background: linear-gradient(to right, rgba(132, 195, 130, 1), rgba(60, 167, 144, 1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.img-dispor{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.imglogo{
    height: 100px;
   
}
#disporlogo h1{
    margin-top: 25px;
}

#disporlogo h1 span{
    color: white;
}

#formlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-top: 30px;
}
#formlogin .imgformlogin1{
    height: 95px;
    position: absolute;
    bottom: -1px;
    left: -38px;
}
#formlogin .imgformlogin2{
    height: 99px;
    position: absolute;
    bottom: 2px;
    left: -55px;
   
}
#formlogin .imgformlogin3{
    height: 100px;
    position: absolute;
    left: -36px;
    top: -23px;
    
    
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
}


#formlogin button{
    border: none;
    background-color: aliceblue;
    border-bottom-right-radius: 20px ;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
    color: #0B8E74;
    width: 295px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    
}

#formlogin button:hover{
    background-color: #84de81;
}


#formlogin input {
    border: 1px solid white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
    background-color: rgb(131, 194, 154);
    color: white;
    width: 264px;
    height: 25px;
    opacity:1;
    padding-left: 35px;
}
#formlogin input::placeholder{
    color: white;
}
#formlogin select{
    background-color: rgb(131, 194, 154);
    color: white;
    width: 320px;
    height: 60px;
    border: 1px solid white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
    text-align: left;
    padding-left: 35px; 
    
    font-size: 16px;
}
.p-senha{
    text-align: center;
    margin-top: 30px;
    color: white;
}

    


/* @media (max-widht:600px) {
    

    #loginlogos {
        text-align: center; 
       
    }
    
    #imgs {
      margin-top: 10;
      color: darkgreen;
      box-shadow: black 10 10;
    }
    

   
    .imglogo{
        width: 300px;
        
        
    }

    #formlogin form {
        display: inline-block;
        text-align: left;
        text-align: center;
        align-items: center;
        padding: 20px;
        
    }

    #enviar{
        background-color: aliceblue;
        color: #006400;
        margin: 10px 0 0 0 ;
        width: 263px;
        height: 50px;
        
    }

    #enviar:hover{
        background-color: #84de81;
    }

    #formlogin label {
        display: block;
        margin: 10px 0;
    }

    #formlogin input {
        border: white 2px;
        border-bottom-right-radius: 20px ;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 20px;
        background-color: #4dbba5;
        color: white;
        width: 264px;
        height: 50px;
        text-align: center;
    }

    #role{
        background-color: #4dbba5;
        color: white;
        width: 264px;
        height: 50px;
        border: none;
        -webkit-appearance: none; 
        -moz-appearance: none; 
        appearance: none;
        border-bottom-right-radius: 20px ;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 20px;
        background-color: #4dbba5;
    }
    #username ::before{
        content: url("/assets/img/arvores.jpeg");
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
    
    
    }

    #formlogin form::placeholder{
        color: white;
        text-align: left !important;
    }
    
    #formlogin input:hover {
        background-color: #006400;
        transition: 0.3s;
    }


} */