
/* Header com as informações do cliente*/
.head {
    background: var(--verde_pastel); /* cor de fundo*/
    border-radius: 0px 0px 20px 20px; /* Borda arredondada apenas embaixo*/
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
}

.head p {
    margin: 0;
    font-weight: 600;
    text-align: center;
}

/* Sub seção nome/foto */
.nome__foto {
    display: flex;
    align-items: center;
}
.nome__foto img {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 10px;
}

.nome__foto p {
    color: var(--verde_mais_escuro);
    padding-top: 10px;
}

/* Subseção nível/ganhos*/
.nivel__ganhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.nivel {
    font-size: 18px;
    padding: 0 0 18 0;
}

.nivel__ganhos img {
    width: 170px;
    height: fit-content;
}

.nivel__mensagem {
    font-size: 14px;
    padding: 12 0 0 0;
}

.ganho {
    font-size: 20px;
    color: var(--verde_mais_escuro);
    padding: 18 0 0 0;
}

.wrapper {
    display:flex;
    box-sizing: border-box;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 6rem;
    margin-right: 6rem;
    align-items: center;
}

/* Card dos ambientes */
.card__ambientes {
    border: 2px solid var(--verde_escuro);
    border-top: 2px solid var(--verde_escuro);
    border-radius: 0px 0px 12px 12px;
    box-sizing: border-box;
    width: 300px;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--verde_pastel);
    color: white;
    border-bottom: 2px solid var(--verde_escuro);
}

.topo p {
    color: var(--verde_escuro);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 6 14;
}

.pin {
    height: 22px;
    width: fit-content;
    background: var(--verde_escuro);
    padding: 8 12;
}
  
.triangulo {
    height: 14px;
    width: fit-content;
    padding: 10 16 10 0;
}

.ambientes {
    display: flex;
    padding: 18 24 0 24;
    justify-content: space-between;
}

.ambiente {
    width: 66px;
    display: flex;
    flex-direction: column;
    background: var(--cinza-claro);
    align-items: center;
    padding-bottom: 2px;
    margin: 4px;
}

.ambiente img {
    height: 30px;
    width: 30px;
    margin: 14 18 8 18;
}

.ambiente p {
    margin: 0;
    padding-bottom: 6;
    font-size: 12px;
    color: var(--verde_mais_escuro);
}

.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: var(--cinza-escuro);
    --switch-checked-bg: var(--verde_escuro);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
}
  
.switch input {
    display: none;
}
  
.switch {
    display: inline-block;
}
  
.switch svg {
    -webkit-transition: var(--icon-transition);
    -o-transition: var(--icon-transition);
    transition: var(--icon-transition);
    position: absolute;
    height: auto;
}
  
.switch .checkmark {
    width: var(--icon-checkmark-size);
    color: var(--icon-checkmark-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
  
.switch .cross {
    width: var(--icon-cross-size);
    color: var(--icon-cross-color);
}
  
.slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
}
  
.circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
}
  
.slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
}
  
.switch input:checked+.slider {
    background: var(--switch-checked-bg);
}
  
.switch input:checked+.slider .checkmark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
  
.switch input:checked+.slider .cross {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
  
.switch input:checked+.slider::before {
    left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
}
  
.switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter) - var(--switch-offset));
    -webkit-box-shadow: var(--circle-checked-shadow);
    box-shadow: var(--circle-checked-shadow);
}

.base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde);
    margin-top: 20px;
    border-radius: 0px 0px 10px 10px; /* Borda arredondada apenas embaixo*/
}

.base img {
    height: 20px;
    padding: 10px;
    background: var(--verde_escuro);
    border-radius: 0px 0px 0px 10px; /* Borda arredondada apenas embaixo*/
}

.base p {
    font-size: 16px;
    color: white;
    margin: 0;
    padding-right: 18px;
}

/* Botão para sugerir nova missão */
.nova__missao {
    background-color: var(--verde_escuro);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 10px 0px;
    border: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}
   
.nova__missao:hover {
    background: var(--verde);
    transition: 0.3s;
}
   
.nova__missao:active {
    border: 0;
    background: var(--verde);
}


/* Cards das missões*/
.main__section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 30px;
}

.card {
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.card__missao {
    display: flex;
    justify-content: space-between;
    background-color: var(--verde_claro);
    border-radius: 10;
    color: white;
    padding: 18px;
}

.card__missao p {
    margin: 0;
    font-weight: 600;
}

/* Subseção nome/icone */
.nome__icone {
    text-align: center;
}

.nome__missao {
    font-size: 18px;
    padding-bottom: 10px;
    white-space: nowrap;
}

/* Subseção detalhes*/
.detalhes {
    width: 160px;
    text-align: right;
}

.descriçao {
    font-size: 12px;
    color: var(--verde_mais_escuro);
    padding: 10 0 10 0;
}

.duraçao {
    font-size: 12px;
}

/* Subseção premio*/
.premio {
    display:inline-flex;
}

.valor__premio {
    font-size: 20px;
}

.premio img {
    height: 20px;
    width: fit-content;
    padding-left: 12px;
}

@media (max-width: 880px) and (min-width: 601px){
    .nova__missao {
        padding-top: 56px;
        padding-bottom: 56px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 30px;
        
    }
    .main__section {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 600px){
    .wrapper {
        flex-direction: column;
        margin-top: 30px;
    }

    .nova__missao {
        z-index: -1;
        margin-top: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 45px;
        padding-right: 45px;
    }

    .main__section {
        margin-bottom: 60px;
    }
}

@media (max-width: 425px) {
    .nome__foto {
        flex-direction: column;
    }

    .nome__foto img {
        margin-left: 0px;
    }
}

@media (max-width: 320px) {
    .nome__foto img {
        width: 80px;
        height: 80px;
    }
}