
#headform{
    background-color: var(--verde_pastel);
    padding: 2rem 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.forms-missao .titulo-missao{
    font-size: 1.4rem;
}
.forms-missao .subtitulo-missao{
    font-size: 1.125rem;
}

.forms-missao{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
}
input, textarea, .select-progresso{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--verde_escuro);
    font-family: var(--inter);
    font-size: 15px;
    resize: none;
}
input::placeholder, textarea::placeholder{
    color: var(--verde_escuro);
}
input:focus, textarea:focus, select:focus{
    outline: none;
    border: 1px solid var(--verde_mais_escuro);
    background-color: var(--cinza-claro);
}
.cadastrar{
    border: none;
    padding: 0.5rem 3rem;
    justify-self: center;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: var(--verde_claro);
    color: var(--cinza-claro);
    cursor: pointer;
    font-weight: 600;
}
.custom-select select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    
}
.custom-select{
    display: flex;
    position: relative;
    align-items: center;
}

.custom-select select {
    background-color: var(--cinza-claro);
    position: relative;
}
.custom-select select:invalid {
    color: var(--verde_escuro);
}
/* .custom-select img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 10px;
} */

.custom-select::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/assets/img/dropdown__triangulo.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 25px;
    
}
.form-container{
    display: grid;
    grid-template-columns: 1fr;
}
input[type="file"]{
    display: none;
    
}
input[type="number"] + label{
    padding: 16px 0px;
    margin-bottom: 1rem;
    color: var(--verde_escuro);
    border-radius: 5px;
    border: 1px solid var(--verde_escuro);
    display: flex;
    align-items: center;
    
}
input[type="number"] + label::before{
    content: "";
    width: 35px;
    height: 28px;
    display: inline-block;
    background-image: url('/assets/img/Exclude.svg');
    background-repeat: no-repeat;
    background-size: 25px;
    margin-left: 15px;
}


@media (min-width: 600px){
    header{
        padding: 2rem 7rem;
    }
    .forms-missao{
        padding: 2rem 7rem;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        align-items: start;
    }
    input, textarea, .select-progresso{
        padding: 1rem;
        font-size: 1rem;
    }
    .cadastrar{
        grid-column: 2;
        justify-self: flex-end;
        padding: 0.7rem 4rem;
        font-size: 1rem;
    }

    .cadastrar:hover {
        background: var(--verde);
        transition: 0.3s;
    }
       
    .cadastrar:active {
        border: 0;
        background: var(--verde);
    }

    .titulo-missao{
        font-size: 3rem;
    }
    
    
}
@media (max-width: 1000px) and (min-width: 600px) {
    header{
        padding: 2rem 2.5rem;
    }
    .forms-missao{
        padding: 2rem 2.5rem;
        
    }
   
}

@media (max-width: 600px) {
    .cadastrar {
        margin-bottom: 50px;
    }
}